<!DOCTYPE html>
<html>
<head>
    <title>QuickBooks OAuth2 Example - Callback</title>
</head>
<body>
    <h1>Authorization Successful</h1>
    <p>You are now connected to QuickBooks.</p>
</body>
</html>
